.release-files {
    pointer-events: none;
    border: dashed 4px #59930e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
}

.select-files-upload {
    border: dashed 4px;
    cursor: pointer;
    &:hover {
        background: #ececec;
    }
}

.cancel-upload-files {
    cursor: pointer;
}

#table-filter-email_verified_at {
    width: 100% !important;
}
