ul {
    list-style: none;
    padding: 0;
}

.fa-circle-up,
.fa-circle-down {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.6);
    }
}

.bg-my-gray {
    background-color: #bac1d0 !important;
}

.bg-my-gray-lighter {
    background-color: #eceef2 !important;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Apply the animation to an element */
  .spinning {
    animation: spin 0.5s linear infinite;
  }
