.pagination {
    padding: 0;
    margin: 0;
}
.badge-info {
    text-transform: none !important;
    color: #08a1c4;
    background-color: #abe9f7;
}
.badge-success {
    text-transform: none !important;
    color: #67b108;
    background-color: #cdf59b;
}
.badge-secondary {
    text-transform: none !important;
    color: #5974a2;
    background-color: #e4e8ed;
}
.badge-primary {
    text-transform: none !important;
    color: #a3017e;
    background-color: #f883dd;
}
.badge-danger {
    text-transform: none !important;
    color: #bd0000;
    background-color: #fc9797;
}
